@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>


@{
    ViewData["Title"] = "Index";
}

<h1>Products Catalogue</h1>

<div class="container">

    @Html.Partial("SearchPartial")

</div>





<div class="container">
    <div class="row">

     @Html.Partial("ViewProductsPartial", Model)
    </div>
</div>

 

