<form class="form-inline" method="post" action="/Products/Search"     >
    <div class="form-group mb-2">
        <label class="col-sm-2 col-form-label" >Search:</label>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" placeholder="Type your keyword here"  name="keyword"   >
    </div>
    <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>