@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>


@foreach (var p in Model)
{
    @if (p.Disable == false)
    {
    <div class="col-6">
        <div class="card" style="width: 18rem;">
            <img src="@p.ImageUrl" class="card-img-top image" alt="...">
            <div class="card-body">
                <h5 class="card-title">@p.Name</h5>
                <p class="card-text">@p.Price</p>

                <a href="/Products/Details?id=@p.id" class="btn btn-primary">View Specification</a>

                @if (User.IsInRole("Admin"))
                {   //make disable
                <a href="/Products/Disable?id=@p.id" class="btn btn-danger">Disable</a>
                }

                <a href="/Cart/AddCart?id=@p.id" class="btn btn-primary">Add to cart</a>

            </div>
        </div>
    </div>
        }
    }